body {
  background-color: whitesmoke;
  font-size: 1.2rem;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1.5rem;
  font-size: 1.5rem;
}
header h1 {
  text-align: center;
}
header span {
  text-align: end;
}

section {
  margin: 0 auto;
  width: 60%;

  @media (max-width: 1024px) {
    width: 80%;
  }
}

.table-button-container {
  display: flex;
  width: fit-content;
  margin: 0 0 1rem auto;
  gap: 0.5rem;
}
.table-button-container button {
  padding: 0.8rem;
  border-radius: 10%;
  background-color: var(--babyblue);
  font-size: 1.2rem;
  cursor: pointer;
}

.table-container {
  width: 100%;
  background-color: white;
  border: 2px solid var(--babyblue);
}
.table-container th {
  padding: 0.5rem;
  background-color: var(--babyblue);
}
.table-container td {
  padding: 0.5rem;
  text-align: center;
  border: 2px solid var(--babyblue);
}
