* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #141414;
  font-family: "Noto Sans KR", sans-serif;
  color: white;
}

/* 헤더 */

header {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2.5rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5) 20%, transparent);
  z-index: 1;
}

.header-navigation {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  img {
    width: 6rem;
    height: 100%;
    cursor: pointer;
  }

  ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    font-size: 0.725rem;

    li {
      cursor: pointer;
    }
  }
}

.header-icon {
  display: flex;
  gap: 1rem;

  img {
    width: 2rem;
    border-radius: 5px;
  }
}

/* 홈 배너 */

main {
  position: relative;
  width: 100%;
  height: 42rem;
  background-image: linear-gradient(rgba(20, 20, 20, 0), rgba(20, 20, 20, 1)),
    url(./assets/background.jpg);
  background-size: cover;

  .banner-logo {
    position: absolute;
    top: 25rem;
    left: 5rem;
    width: 20rem;
  }

  div {
    position: absolute;
    right: 5rem;
    bottom: 8rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;

    span {
      width: 24rem;
      text-align: end;
      line-height: 150%;
      word-break: keep-all;
    }

    button {
      display: flex;
      align-items: center;
      width: fit-content;
      padding: 4px 20px;
      border: none;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;

      img {
        width: 2.2rem;
      }
    }
  }
}

/* 무한 배너 */

section {
  padding: 0 2.5rem;
  margin-bottom: 2.5rem;

  h2 {
    margin-bottom: 0.25rem;
    font-size: 1.3rem;
    font-weight: 400;
  }
}

.infinite-banner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 2.5rem;
  overflow: hidden;

  ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
    padding: 0;
    animation: roll 15s linear infinite;
    &.banner-list clone {
      animation-delay: 15s;
    }

    img {
      width: 341px;
      height: 192px;
      flex-shrink: 0;
      border-radius: 5px;
    }
  }
}

@keyframes roll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
